# Simple Recommendation system using weighted average

In [2]:
!pip install pandas
!pip install numpy

Collecting pandas
  Using cached https://files.pythonhosted.org/packages/db/83/7d4008ffc2988066ff37f6a0bb6d7b60822367dcb36ba5e39aa7801fda54/pandas-0.24.2-cp27-cp27mu-manylinux1_x86_64.whl
Collecting numpy>=1.12.0 (from pandas)
  Using cached https://files.pythonhosted.org/packages/3a/5f/47e578b3ae79e2624e205445ab77a1848acdaa2929a00eeef6b16eaaeb20/numpy-1.16.6-cp27-cp27mu-manylinux1_x86_64.whl
Collecting pytz>=2011k (from pandas)
  Using cached https://files.pythonhosted.org/packages/e7/f9/f0b53f88060247251bf481fa6ea62cd0d25bf1b11a87888e53ce5b7c8ad2/pytz-2019.3-py2.py3-none-any.whl
Collecting python-dateutil>=2.5.0 (from pandas)
  Using cached https://files.pythonhosted.org/packages/d4/70/d60450c3dd48ef87586924207ae8907090de0b306af2bce5d134d78615cb/python_dateutil-2.8.1-py2.py3-none-any.whl
Collecting six>=1.5 (from python-dateutil>=2.5.0->pandas)
  Using cached https://files.pythonhosted.org/packages/65/eb/1f97cb97bfc2390a276969c6fae16075da282f5058082d4cb10c6c5c1dba/six-1.14.0-py2.py3-none-any.whl
Installing collected packages: numpy, pytz, six, python-dateutil, pandas
Successfully installed numpy-1.16.6 pandas-0.24.2 python-dateutil-2.8.1 pytz-2019.3 six-1.14.0
Collecting numpy
  Using cached https://files.pythonhosted.org/packages/3a/5f/47e578b3ae79e2624e205445ab77a1848acdaa2929a00eeef6b16eaaeb20/numpy-1.16.6-cp27-cp27mu-manylinux1_x86_64.whl
Installing collected packages: numpy
Successfully installed numpy-1.16.6

In [56]:
import pandas as pd
import numpy as np

In [57]:
meta_data = pd.read_csv('tmdb_5000_movies.csv')

In [58]:
meta_data.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [6]:
meta_data.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [30]:
C = meta_data['vote_average'].mean()

In [31]:
C

6.1916503587736464

In [32]:
# caculate movie rating with 90 percentail
m = meta_data['vote_count'].quantile(0.90)
m

1918.1999999999998

In [33]:
# filter all the qualified movies
q_movies = meta_data.copy().loc[meta_data['vote_count'] >= m]
q_movies.shape

(460, 25)

In [34]:
# function to find the weighted average of each movie

def weighted_average(x, m=m, C=C):
    V = x['vote_count']
    R = x['vote_average']
    
    return (V / (V+m) * R ) + ( m / (m + V) * C)

In [35]:
# define a new feature score and calculate weighted average
q_movies['score'] = q_movies.apply(weighted_average, axis=1)

In [36]:
q_movies['score']

0       7.059004
1       6.688296
2       6.267445
3       7.354949
4       6.143492
          ...
4197    6.728493
4205    7.382252
4207    7.234447
4237    7.221060
4454    7.235980
Name: score, Length: 460, dtype: float64

In [37]:
# sort based on score 
q_movies = q_movies.sort_values('score', ascending = False)
q_movies['score']

1875    8.062601
660     7.943088
65      7.923250
3203    7.909109
96      7.866398
          ...
1148    5.567771
336     5.551527
192     5.513645
91      5.461926
241     5.219013
Name: score, Length: 460, dtype: float64

In [38]:
#Print the top 15 movies
q_movies[['title', 'vote_count', 'vote_average', 'score']].head(15)

,title,vote_count,vote_average,score
1875,The Shawshank Redemption,8205,8.5,8.062601
660,Fight Club,9413,8.3,7.943088
65,The Dark Knight,12002,8.2,7.923250
3203,Pulp Fiction,8428,8.3,7.909109
96,Inception,13752,8.1,7.866398
3305,The Godfather,5893,8.4,7.857695
95,Interstellar,10867,8.1,7.813685
806,Forrest Gump,7927,8.2,7.808701
328,The Lord of the Rings: The Return of the King,8064,8.1,7.733288
1982,The Empire Strikes Back,5879,8.2,7.705923
261,The Lord of the Rings: The Fellowship of the Ring,8705,8.0,7.673472
2891,Star Wars,6624,8.1,7.671469
1812,Schindler's List,4329,8.3,7.652632
3809,Whiplash,4254,8.3,7.644766
329,The Lord of the Rings: The Two Towers,7487,8.0,7.631185

# Content based Recommendation

## Plot Description based Recommendation

#### We will compute pairwise similarity scores for all movies based on their plot descriptions and recommend movies based on that similarity score.

In [39]:
!pip install -U scikit-learn

Collecting scikit-learn
  Using cached https://files.pythonhosted.org/packages/31/9f/042db462417451e81035c3d43b722e88450c628a33dfda69777a801b0d40/scikit_learn-0.20.4-cp27-cp27mu-manylinux1_x86_64.whl
Collecting scipy>=0.13.3 (from scikit-learn)
  Using cached https://files.pythonhosted.org/packages/24/40/11b12af7f322c1e20446c037c47344d89bab4922b8859419d82cf56d796d/scipy-1.2.3-cp27-cp27mu-manylinux1_x86_64.whl
Collecting numpy>=1.8.2 (from scikit-learn)
  Using cached https://files.pythonhosted.org/packages/3a/5f/47e578b3ae79e2624e205445ab77a1848acdaa2929a00eeef6b16eaaeb20/numpy-1.16.6-cp27-cp27mu-manylinux1_x86_64.whl
Installing collected packages: numpy, scipy, scikit-learn
Successfully installed numpy-1.16.6 scikit-learn-0.20.4 scipy-1.2.3

In [40]:
# print overviews
meta_data['overview'].head()

0    In the 22nd century, a paraplegic Marine is di...
1    Captain Barbossa, long believed to be dead, ha...
2    A cryptic message from Bondâ€™s past sends him o...
3    Following the death of District Attorney Harve...
4    John Carter is a war-weary, former military ca...
Name: overview, dtype: object

#### In its current form, it is not possible to compute the similarity between any two overviews. To do this, you need to compute the word vectors of each overview or document.

In [41]:
# import TfidfVectorizer from scikit-learn
from sklearn.feature_extraction.text import TfidfVectorizer

# Define a TfidfVectorizer Object, Remove all the top english words such as 'the' 'a' 
tfidf = TfidfVectorizer(stop_words = 'english')

# Replace Nan with an empty string
meta_data['overview'] = meta_data['overview'].fillna('')

#Construct the required TF-IDF matrix by fitting and transforming the data
tfidf_matrix = tfidf.fit_transform(meta_data['overview'])

#Output the shape of tfidf_matrix
tfidf_matrix.shape

(4599, 20322)

In [42]:
# You see that over 20978 different words were used to describe the 4803 movies in your dataset.

In [43]:
# Import linear_kernel
from sklearn.metrics.pairwise import linear_kernel

# Compute the cosine similarity matrix
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [44]:
cosine_sim

array([[1.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 1.        , 0.        , ..., 0.02161011, 0.        ,
        0.        ],
       [0.        , 0.        , 1.        , ..., 0.01506034, 0.        ,
        0.        ],
       ...,
       [0.        , 0.02161011, 0.01506034, ..., 1.        , 0.01631257,
        0.00719662],
       [0.        , 0.        , 0.        , ..., 0.01631257, 1.        ,
        0.01188418],
       [0.        , 0.        , 0.        , ..., 0.00719662, 0.01188418,
        1.        ]])

In [45]:
#Construct a reverse map of indices and movie titles
indices = pd.Series(meta_data.index, index=meta_data['title']).drop_duplicates()

In [46]:
indices

title
Avatar                                         0
Pirates of the Caribbean: At World's End       1
Spectre                                        2
The Dark Knight Rises                          3
John Carter                                    4
                                            ...
El Mariachi                                 4594
Newlyweds                                   4595
Signed, Sealed, Delivered                   4596
Shanghai Calling                            4597
My Date with Drew                           4598
Length: 4599, dtype: int64

In [47]:
# Function that takes in movie title as input and outputs most similar movies
def get_recommendations(title, cosine_sim=cosine_sim):
    # Get the index of the movie that matches the title
    idx = indices[title]

    # Get the pairwsie similarity scores of all movies with that movie
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the movies based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar movies
    sim_scores = sim_scores[1:11]

    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar movies
    return meta_data['title'].iloc[movie_indices]

In [48]:
get_recommendations('The Dark Knight Rises')

65                              The Dark Knight
298                              Batman Forever
427                              Batman Returns
1353                                     Batman
3800    Batman: The Dark Knight Returns, Part 2
119                               Batman Begins
2492                                  Slow Burn
9            Batman v Superman: Dawn of Justice
1175                                        JFK
209                              Batman & Robin
Name: title, dtype: object

In [49]:
get_recommendations('The Godfather')

2713     The Godfather: Part II
1867                 Blood Ties
864     The Godfather: Part III
3677                 Easy Money
3586                       Made
3103                     Eulogy
3840                   Sinister
4381            The Maid's Room
3733                        Joe
3139              Loose Cannons
Name: title, dtype: object

# Credits, Genres and Keywords Based Recommendition

In [59]:
credits = pd.read_csv('credits.csv')
keywords = pd.read_csv('keywords.csv')

In [60]:
credits.head()
keywords.head()

      id                                           keywords
0    862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1   8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3  31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4  11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...

In [61]:
# remove meta_data with bad ID's
# meta_data = meta_data.drop([19730,29503,35587])


# convertIds to integer required for merge
# keywords['id'] = keywords['id'].astype('int')
credits['id'] = credits['id'].astype('int')
meta_data['id'] = meta_data['id'].astype('int')

In [62]:
# merging credits and keywords for our main data frame
meta_data = meta_data.merge(credits, on="id")
# meta_data = meta_data.merge(keywords, on="id")
meta_data.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'cast', 'crew'],
      dtype='object')

In [63]:
# Parse the stringified features into their corresponding puthon object

from ast import literal_eval

features = ['cast', 'crew', 'keywords', 'genres']

for feature in features:
    meta_data[feature] = meta_data[feature].apply(literal_eval)
    
meta_data.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'cast', 'crew'],
      dtype='object')

In [64]:
# Import Numpy 
import numpy as np

In [65]:
# Get the director's name from the crew feature. If director is not listed, return NaN
def get_director(x):
    for i in x:
        if i['job'] == 'Director':
            return i['name']
    return np.nan

# Returns the list top 3 elements or entire list; whichever is more.
def get_list(x):
    if isinstance(x, list):
        names = [i['name'] for i in x]
        #Check if more than 3 elements exist. If yes, return only first three. If no, return entire list.
        if len(names) > 3:
            names = names[:3]
        return names

    #Return empty list in case of missing/malformed data
    return []

In [66]:
# Define new director, cast, genres and keywords features that are in a suitable form.
meta_data['director'] = meta_data['crew'].apply(get_director)

features = ['cast', 'keywords', 'genres']
for feature in features:
    meta_data[feature] = meta_data[feature].apply(get_list)

In [67]:
# Print the new features of the first 3 films
meta_data[['title', 'cast', 'director', 'keywords', 'genres']].head(3)

,title,cast,director,keywords,genres
0,Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]",James Cameron,"[culture clash, future, space war]","[Action, Adventure, Fantasy]"
1,Pirates of the Caribbean: At World's End,"[Johnny Depp, Orlando Bloom, Keira Knightley]",Gore Verbinski,"[ocean, drug abuse, exotic island]","[Adventure, Fantasy, Action]"
2,Spectre,"[Daniel Craig, Christoph Waltz, LÃ©a Seydoux]",Sam Mendes,"[spy, based on novel, secret agent]","[Action, Adventure, Crime]"

## The next step would be to convert the names and keyword instances into lowercase and strip all the spaces between them. This is done so that your vectorizer doesn't count the Johnny of "Johnny Depp" and "Johnny Galecki" as the same. After this processing step, the aforementioned actors will be represented as "johnnydepp" and "johnnygalecki" and will be distinct to your vectorizer.

In [68]:
# Function to convert all strings to lower case and strip names of spaces
def clean_data(x):
    if isinstance(x, list):
        return [str.lower(i.replace(" ", "")) for i in x]
    else:
        #Check if director exists. If not, return empty string
        if isinstance(x, str):
            return str.lower(x.replace(" ", ""))
        else:
            return ''

In [69]:
# Apply clean_data function to your features.
features = ['cast', 'keywords', 'director', 'genres']

for feature in features:
    meta_data[feature] = meta_data[feature].apply(clean_data)

In [70]:
meta_data.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
0,237000000,"[action, adventure, fantasy]",http://www.avatarmovie.com/,19995,"[cultureclash, future, spacewar]",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,"[samworthington, zoesaldana, sigourneyweaver]","[{'credit_id': '52fe48009251416c750aca23', 'de...",jamescameron

### You are now in a position to create your "metadata soup", which is a string that contains all the metadata that you want to feed to your vectorizer (namely actors, director and keywords).

In [71]:
def create_soup(x):
    return ' '.join(x['keywords']) + ' ' + ' '.join(x['cast']) + ' ' + x['director'] + ' ' + ' '.join(x['genres'])

In [72]:
# Create a new soup feature
meta_data['soup'] = meta_data.apply(create_soup, axis=1)

In [73]:
meta_data['soup']

0       cultureclash future spacewar samworthington zo...
1       ocean drugabuse exoticisland johnnydepp orland...
2       spy basedonnovel secretagent danielcraig chris...
3       dccomics crimefighter terrorist christianbale ...
4       basedonnovel mars medallion taylorkitsch lynnc...
                              ...
4594    unitedstatesâ€“mexicobarrier legs arms carlosgal...
4595     edwardburns kerrybishÃ© marshadietlein edwardb...
4596    date loveatfirstsight narration ericmabius kri...
4597       danielhenney elizacoupe billpaxton danielhsia
4598    obsession camcorder crush drewbarrymore brianh...
Name: soup, Length: 4599, dtype: object

### The next steps are the same as what you did with your plot description based recommender. One important difference is that you use the CountVectorizer() instead of TF-IDF. This is because you do not want to down-weight the presence of an actor/director if he or she has acted or directed in relatively more movies. It doesn't make much intuitive sense

In [74]:
# Import CountVectorizer and create the count matrix
from sklearn.feature_extraction.text import CountVectorizer

count = CountVectorizer(stop_words='english')
count_matrix = count.fit_transform(meta_data['soup'])

In [75]:
count_matrix

<4599x10956 sparse matrix of type '<class 'numpy.int64'>'
	with 41621 stored elements in Compressed Sparse Row format>

In [76]:
# Compute the Cosine Similarity matrix based on the count_matrix
from sklearn.metrics.pairwise import cosine_similarity

cosine_sim2 = cosine_similarity(count_matrix, count_matrix)

In [77]:
cosine_sim2

array([[1. , 0.3, 0.2, ..., 0. , 0. , 0. ],
       [0.3, 1. , 0.2, ..., 0. , 0. , 0. ],
       [0.2, 0.2, 1. , ..., 0. , 0. , 0. ],
       ...,
       [0. , 0. , 0. , ..., 1. , 0. , 0. ],
       [0. , 0. , 0. , ..., 0. , 1. , 0. ],
       [0. , 0. , 0. , ..., 0. , 0. , 1. ]])

In [78]:
# Reset index of your main DataFrame and construct reverse mapping as before
meta_data = meta_data.reset_index()
indices = pd.Series(meta_data.index, index=meta_data['title'])

In [79]:
indices

title
Avatar                                         0
Pirates of the Caribbean: At World's End       1
Spectre                                        2
The Dark Knight Rises                          3
John Carter                                    4
                                            ...
El Mariachi                                 4594
Newlyweds                                   4595
Signed, Sealed, Delivered                   4596
Shanghai Calling                            4597
My Date with Drew                           4598
Length: 4599, dtype: int64

In [80]:
# Function that takes in movie title as input and outputs most similar movies. 
def get_recommendations(title, cosine_sim=cosine_sim):
    # Get the index of the movie that matches the title
    idx = indices[title]

    # Get the pairwsie similarity scores of all movies with that movie
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the movies based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar movies
    sim_scores = sim_scores[1:11]

    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar movies
    return meta_data['title'].iloc[movie_indices]

In [81]:
get_recommendations('The Dark Knight Rises', cosine_sim2)

65        The Dark Knight
119         Batman Begins
1190         The Prestige
3052    Romeo Is Bleeding
3295       Black November
1496               Takers
1978               Faster
302              Catwoman
745        Gangster Squad
1247        Kiss of Death
Name: title, dtype: object

In [82]:
get_recommendations('The Godfather', cosine_sim2)

864     The Godfather: Part III
2713     The Godfather: Part II
2633          The Son of No One
1518             Apocalypse Now
1014            The Cotton Club
1164    The Talented Mr. Ripley
1203              The Rainmaker
1388              Donnie Brasco
1844                   Scarface
2268                Sea of Love
Name: title, dtype: object